
header {
        background-image:url("Entete.jpg");
        background-size: cover; 
	background-position: center;
        padding : 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
img {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: silver;
}

#photo-ali {
  object-position: 100% 10%;
}


